





  {
    /*}
  

  .ant-select-selector {
    background-color: transparent !important;

  }

  .MenySelect{
    background-color: 'blue' !important; 
    border: 'none'
  }



  */
  }
  