.tileHeader {
    color: white !important;
}

.tileP {
    color: #f3f3f3 !important;
}

.addApiButton {
    margin-top: 7px;
    width: 50%;
}

.setButtonInTile{
    margin-left: 5px;
}

.removeTileButton{
    margin-top: 5px;
}